:root {
    --color_0: #3F3D56;
    --color_1: rgb(255, 152, 97);
    --color_2: #2F2E41;
    --color_3: #CCCCCC;
    --color_4: #FFB9B9;
}

/* Navbar */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* MyClass */
.myclass {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.myclass-main {
    padding: 3rem;
}

.myclass-main h2 {
    font-size: 1.5rem;
    color: var(--color_1);
}

.myclass-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}


.about-me {
    height: 500px;
    padding: 10px;
}

.section-oscura {
    color: white;
    background-color: var(--color_0);
}

.about-me .contenedor {
    max-width: 600px;
    text-align: center;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
}

.seccion-texto {
    font-size: 1.2rem;
}

.experiencia {
    padding: 40px;
}

.experiencia-columna:hover {
    color: white;
    background-color: var(--color_0);
    border-radius: 5%;
}

.experiencia-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: var(--color_1);
    background-color: var(--color_0);
    padding: 8px 19px;
    border-radius: 25%;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: var(--color_0);
}

.section-clara {
    color: var(--color_2);
    background-color: white;
}

.badge-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

.proyectos {
    padding: 40px;
}

.proyectos img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}
.pulpo{
    border-radius: 50%;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay i {
    color: #2F2E41;
    font-size: 60px;
    margin: 10px;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;
}

/* Others */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

h1 {
    font-size: 2.5rem;
}

.btn-info {
    background-color: #2F2E41;
    color: #6C63FF;
    border: #2F2E41;
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;    
}

.btn-info:hover {
    background-color: #6C63FF;
    color:  #2F2E41;
    border: #6C63FF;
}


/* Responsive */

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    
}

@media screen and (max-width: 700px) {
    .myclass-imagen {
        max-width: 600px;
    }
}